<input type="text" name="str" [(ngModel)]="str">
<input type="text" name="name" [(ngModel)]="userName">
<input type="text" name="nick" [(ngModel)]="userNick">
<input type="email" name="email" [(ngModel)]="userEmail">

<button (click)="change()">
  Click
</button>
@if (show()) {
<ol>
     <!-- <li>{{ issetDatas[0] }}</li>
     <li>{{ issetDatas[1] }}</li>
     <li>{{ issetDatas[2] }}</li> -->
    <li>{{ str }}</li>
    <li>{{ userName }}</li>
    <li>{{ userNick }}</li>
    <li>{{ userEmail }}</li>
</ol> 
} @else {
    <p>loading</p>
}

